<div class="grid-container">
  <div class="Rectangle742">
    <a routerLink="home" href=""><img class="logo" src="../assets/img/Logo.png" alt=""></a>
    <img class="group1931" src="../assets/img/Group 1931.png" alt="">
    <h2 class="frame54H " style="text-align: center;">Services</h2>
    <p class="frame54P">An expert team help you to analyze your polticalt power.An expert team .</p>
    <p class="frame54C">&#169; 2020 All Rights Reserved. PT Indonesia Indicator</p>
  </div>
  <div class="Rectangle745">
    <form class="frame62" action="">
      <h1 class="welcome">Welcome to Logo ipsum</h1>
      <p class="account">Dont’ have an account? <a href="#" class="signup">Sign Up</a></p>
      <p class="Itext">Username <a class="signup">*</a></p>
      <input [(ngModel)]="form.username" [ngModelOptions]="{standalone: true}" type="text" class="inputan">
      <p class="Itextp">Password <a class="signup">*</a></p>
      <input [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}" type="text" class="inputan">
      <br class="break1">
      <label class="container"> Remember Me
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <button (click)="login()" type="button" class="login">Log in</button>
    </form>
  </div>
</div>

