@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto ;
}

  /* LEFT GRID */

.Rectangle742{
  background-color:#F5F6FA;
  width: 517px;
  height: 1024px;
}

.logo{
  margin-top: 56px;
  margin-left: 59px;
}

.group1931{
  margin-top: 193px;
  margin-left: 31px;
}

.frame54H{
  text-align: center;
  margin-top: 50px;
}

.frame54P{
  text-align: center;
  color: #4F5665;
  margin-top: 10px;
  margin-left: 47px;
  margin-right: 47px;
}

.frame54C{
  color: #4F5665;
  font-size: 14px;
  margin-top: 133px;
  margin-left: 26px;
  margin-right: 1566;
}

  /* RIGHT GRID */
.Rectangle745{
  background-color:#FFFFFF;
  width: 924px;
  height: 1024px;
}

.frame62{
  margin-top: 304px;
  margin-left: 230px;
  margin-right: 231px;
}

.welcome{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 29px;
  font-weight: 700;
}

.account{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.signup{
  font-family: Rubik;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #2161D5;
  text-decoration: none;
}

.Itext{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
}

.Itextp{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 32px;
}

.inputan{
  width: 463px;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #D9D9D9;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F5665B8;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

.checkmark {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -1px;
  left: -1px;
  border-radius: 4px;
  background-color: #ccc;
}

.container:hover input ~ .checkmark {
  background-color:#1C375A29;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 4px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login{
  width: 463px;
  height: 56px;
  padding: 8px, 14px, 8px, 14px;
  border-radius: 6px;
  gap: 4px;
  border: none;
  background-color: #2161D5;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

