<div class="navbar">
  <div class="logo">
    <img class="image-nav" src="../../../assets/img/Logo.png" alt="" srcset="">
  </div>
  <div class="framme7">
    <ul>
      <li class="listnavH"><a href="#home" style="color: #0B132A;"><b>Home</b></a></li>
      <li class="listnav"><a href="#Product">Product</a></li>
      <li class="listnav"><a href="#blog">Blog</a></li>
      <li class="listnav"><a href="#Pricing">Pricing</a></li>
      <li class="listnav"><a href="#Contact">Contact</a></li>
      <li class="listnav"><a href="#about">About Us</a></li>
    </ul>
  </div>
  <div class="signin">
    <b><p class="signp">Sign In</p></b>
  </div>
  <div class="frame5">
    <a routerLink="/login"><button routerLink="login" class="btn primary">Sign Up</button></a>
  </div>
</div>

<div class="jumbotron">
  <div class="describe">
    <h2 class="observe">Observe Your</h2>
    <h1 class="power">Power</h1>
    <p class="p1">Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone</p>
    <button class="btsee">See a Demo</button>
  </div>
  <div class="imagejumbo">
    <img class="imgjumbo" src="../../../assets/img/undraw_voting_nvu7 1.png" alt="">
  </div>
</div>

<div class="frame25">
  <h2 class="why">Why choose us?</h2>
  <p class="p2">We provide to you the best choiches for you. The leading<br>
    political campaign intelligence platform</p>
</div>
<div class="card-main">
  <div class="cardh">
    <img class="imgcard" src="../../../assets/img/fluent_layer-24-filled.png" alt="">
    <p class="card-head">Data</p>
    <p class="card-detail">The biggest regional data, development, and POI data.</p>
  </div>
  <div class="cardh">
    <img class="imgcard" src="../../../assets/img/ion_hardware-chip.png" alt="">
    <p class="card-head">Technology</p>
    <p class="card-detail">Geospatial platform with advanced analysis that suit your neetds.</p>
  </div>
  <div class="cardh">
    <img class="imgcard" src="../../../assets/img/ic_outline-miscellaneous-services.png" alt="">
    <p class="card-head">Services</p>
    <p class="card-detail">An expert team help you to analyze your poltical power.</p>
  </div>
</div>

<div class="consult"><a href="#consult"><button class="consultbtn">Learn More</button></a></div>

<div class="rectangle328">
  <img class="rectangle236" src="../../../assets/img/Rectangle 236.png" alt="">
  <div class="element">
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
    <div class="svgid213"></div>
  </div>
  <div class="group1933">
    <div class="ellipse32"></div>
    <div class="ellipse31"></div>
    <div class="group7">
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
    </div>
  </div>
  <div class="group1927">
    <div class="ellipse34"></div>
    <div class="ellipse33"></div>
    <div class="group1306">
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
    </div>
  </div>
  <div class="group1309">
    <div class="ellipse36"></div>
    <div class="ellipse35"></div>
    <div class="group1308">
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
      <div class="ellipse1"></div>
    </div>
  </div>
</div>
