@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
}

.navbar{
  display: grid;
  grid-template-columns: auto auto auto auto ;
}

.image-nav{
  width: 132px;
  height: 32.17px;
  margin-top: 62px;
  margin-left: 150px;
  padding: 0.25px, 0.58px, 0.53px, 0.08px;
}

.frame7{
  width: 522px;
  height: 38px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}
li a {
  color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none;
}
li a:hover:not(.active) {
  color: #0B132A;
}

.listnavH{
  margin-top: 71px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 40px;
  color:#0B132A;
}

.listnav{
  height: 38px;
  margin-top: 71px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color:#0B132A;
  margin-right: 40px;
}

.signin{
  height: 19px;
  color:#0B132A;
  margin-top: 71px;
}

.signp{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.btn {
  width: 150px;
  height: 45px;
  margin-left: -40px;
  margin-top: 58px;
  left: 1139px;
  padding: 13px, 45px, 13px, 45px;
  border-radius: 55px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.primary {
  border-color: #2161D5;
  color: #2161D5
}

.primary:hover {
  background: #2161D5;
  color: white;
}

.jumbotron{
  display: grid;
  grid-template-columns: auto auto auto auto ;
}

.describe{
  width: 541px;
  height: 140px;
  margin-top: 220px;
  margin-left: 150px;
}

.observe{
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #0B132A;
}

.power{
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #0B132A;
}

.p1{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F5665;
}

.btsee{
  margin-top: 53px;
  width: 192px;
  height: 60px;
  top: 497px;
  left: 150px;
  padding: 15px, 50px, 15px, 50px;
  border-radius: 55px;
  border: 1px;
  gap: 10px;
  background: #2161D5;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #FFFFFF;
  filter: drop-shadow(30px 10px 35px #2161D559);
}

.imgjumbo{
  width: 598.72px;
  height: 450px;
  margin-top: 151px;
  margin-left: 20px;
}

.frame25{
  width: 100%;
  height: 130px;
  margin-top: 213px;
  text-align: center;
}

.p2{
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #4F5665;
}

.card-main{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  margin-top: 60px;
  margin-left: 160px;
  margin-right: 160px;
}

.cardh{
  width: 327px;
  height: 331px;
  border-radius: 20px;
  border: 2px solid #DDDDDD;
  background-color: #FFFFFF;
}

.imgcard{
  width: 90px;
  height: 90px;
  margin-top: 50px;
  margin-left: 32px;
}

.card-head{
  font-size: 24px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 8px;
  margin-left: 32px;
  color: #0B132A;
}

.card-detail{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 32px;
  margin-top: 1px;
  color: #4F5665;
  width: 266px;
  height: 56px;
}

.consult{
  display: flex;
  align-items: center;
  justify-content: center;
}

.consultbtn{
  width: 200px;
  height: 56px;
  margin-top: 42px;
  border-radius: 55px;
  background-color: #FFFFFF;
  border: 1px solid #2161D5;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color : #2161D5;
}

.rectangle328{
  position: relative;
  color: #FFFFFF;
  width:  100%;
  height: 1909px;
  margin-top: 176px;
  background-color: #2161D5;
}

.ellipse32{
  width: 65px;
  height: 65px;
  margin-top: 36px;
  margin-left: 150px;
  border: 5px solid #FFFFFF80;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
}

.ellipse31{
  width: 348px;
  height: 348px;
  margin-top: 77px;
  margin-left: 215px;
  border: 5px solid #FFFFFF80;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
}

.group7{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  width: 188.79px;
  height: 417px;
  margin-top: 174px;
  margin-left: 220px;
}

.ellipse1{
  width: 6.22px;
  height: 6.22px;
  border-radius: 50%;
  background-color: #FFFFFF4D;
}

.element{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  width: 131.58px;
  height: 115px;
  margin-top: 12px;
  margin-left: 1298px;
  opacity: 0.3px;
}

.svgid213{
  width: 10.46px;
  height: 10.46px;
  border-radius: 50%;
  background-color: #FFFFFF4D;
}

.ellipse34{
  width: 65px;
  height: 65px;
  margin-top: 526px;
  margin-left: 916px;
  border: 5px solid #FFFFFF80;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
}

.ellipse33{
  width: 348px;
  height: 348px;
  margin-top: 545px;
  margin-left: 1020px;
  border: 5px solid #FFFFFF80;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
}

.group1306{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 20px;
  width: 413px;
  height: 555px;
  margin-top: 976px;
  margin-left: 868px;
}

.group1309{
  width: 1088px;
  height: 505px;
}

.ellipse36{
  width: 65px;
  height: 65px;
  margin-top: 1284px;
  margin-left: 150px;
  border: 5px solid #FFFFFF80;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
}

.ellipse35{
  width: 348px;
  height: 348px;
  margin-top: 1325px;
  margin-left: 215px;
  border: 5px solid #FFFFFF80;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
}

.group1308{
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  width: 188.79px;
  height: 417px;
  margin-top: 1372px;
  margin-left: 220px;
}

.rectangle236{
  position: absolute;
  z-index: 1;
  width: 345px;
  height: 440px;
  top: -54px;
  left: 311px;
  border-radius: 20px;
}
