<div class="navbar">
  <div class="logo">
    <img class="image-nav" src="../../../assets/img/Logo.png" alt="" srcset="">
  </div>
  <div class="framme7">
    <ul>
      <li class="listnavH"><a href="#home" routerLink="home" style="color: #0B132A;"><b>Home</b></a></li>
      <li class="listnav"><a href="#Product">Product</a></li>
      <li class="listnav"><a href="#blog">Blog</a></li>
      <li class="listnav"><a href="#Pricing">Pricing</a></li>
      <li class="listnav"><a href="#Contact">Contact</a></li>
      <li class="listnav"><a href="#about">About Us</a></li>
    </ul>
  </div>
  <div class="signin">
    <b><p class="signp">Sign In</p></b>
  </div>
  <div class="frame5">
    <a routerLink="/login"><button routerLink="login" class="btn primary">Sign Up</button></a>
  </div>
</div>
<div class="grid-container">
  <div class="frame46">
    <h2 class="frame 42">Ooops <br> Page Not Found</h2>
    <p class="frame43">This page doesn`t exist or was removed We suggest you back to home</p>
    <button class="group1929">Learn More</button>
  </div>
  <img class="imagejumbo" src="../../../assets/img/undraw_page_not_found_re_e9o6 1.png" alt="" srcset="">
</div>
