@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
}

.navbar{
  display: grid;
  grid-template-columns: auto auto auto auto ;
}

.image-nav{
  width: 132px;
  height: 32.17px;
  margin-top: 62px;
  margin-left: 150px;
  padding: 0.25px, 0.58px, 0.53px, 0.08px;
}

.frame7{
  width: 522px;
  height: 38px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}
li a {
  color: rgb(84, 84, 84);
  text-align: center;
  text-decoration: none;
}
li a:hover:not(.active) {
  color: #0B132A;
}

.listnavH{
  margin-top: 71px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 40px;
  color:#0B132A;
}

.listnav{
  height: 38px;
  margin-top: 71px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color:#0B132A;
  margin-right: 40px;
}

.signin{
  height: 19px;
  color:#0B132A;
  margin-top: 71px;
}

.signp{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.btn {
  width: 150px;
  height: 45px;
  margin-left: -40px;
  margin-top: 58px;
  left: 1139px;
  padding: 13px, 45px, 13px, 45px;
  border-radius: 55px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.primary {
  border-color: #2161D5;
  color: #2161D5
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
}

.frame46{
  width: 294px;
  height: 223px;
  margin-top: 300px;
  margin-left: 243px;
}

.frame42{
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #0B132A;
  gap: 10;
}


.frame43{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F5665;
  margin-top: 16px;
}

.group1929{
  width: 153px;
  height: 46px;
  margin-top: 19px;
  border-radius: 55px;
  border: 1px solid #2161D5;
  background-color: #2161D5;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color:#FFFFFF;
}

.imagejumbo{
  width: 602.39px;
  height: 400px;
  margin-top: 221px;
  margin-bottom: 296px;
  left: 687px;

}
