@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

*{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
}

.dashboard{
  background-color: #F5F6FA;
}
.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2A3042;
  overflow: hidden;
  padding-top: 20px;
}

.csidebar{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.sidebar .link-side {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar .link-side:hover {
  color: #f1f1f1;
}

.image-side{
  width: 132px;
  height: 32.17px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 31px;
}

.group1975{
  width: auto;
  height: 45px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: 20px auto;
}

.group1975 :hover{
  display: grid;
  color: white;
  filter: none;
}

.icon-side{
  filter: invert(0.5);
  width: 20px;
  height: 20px;
}

.label-icon{
  margin-left: 14px;
  margin-top: 2.5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #A6B0CF;
}

.group1906{
  width: auto;
  height: 45px;
  padding-left: 24px;
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #6A7187;
}

.main {
  margin-left: 230px;
  width: 1200px;
  background-color: #F5F6FA;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.rectangle129{
  width: 1200px;
  height: 64px;
  left: 240px;
  padding-left: -30px;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: auto auto;
}

.frame611{
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-left: 30px;
}

.frame427318704{
  width: 187px;
  height: 40px;
  margin-top: 12px;
  margin-left: 900px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 12px;
}

.group1921{
  width: 20.01px;
  height: 19.45px;
  margin: 10px;
}

.frame6113{
  width: 135px;
  height: 40px;
  margin-left: 12px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 8px;
  justify-content: center;
  vertical-align: middle;

}
