<div class="dashboard">
  <div id="mysidebar" class="sidebar">
    <div class="csidebar">
      <img class="image-side" src="../../assets/img/Logo3.png" alt="" srcset="">
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/Frame.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Dashboard</label>
        </a>
      </div>
      <div class="group1906">
        <label class="label-frame"> DATA</label>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_slack.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Visualization</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_archive.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Case</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_server.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Data Set</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_database.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Data Source</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_wifi.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Connection</label>
        </a>
      </div>
      <div class="group1906">
        <label class="label-frame"> ASSETS</label>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_figma.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Icon</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_image.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Image</label>
        </a>
      </div>
      <div class="group1906">
        <label class="label-frame">AUTHORIZATION</label>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_user.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Account</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/fi_pocket.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Role</label>
        </a>
      </div>
      <div class="frame6150">
        <a class="group1975">
          <img class="icon-side" src="../../assets/img/Icons.svg" alt="icon-side" srcset="">
          <label class="label-icon" for="icon-side">Workspace</label>
        </a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="rectangle129">
      <img class="frame611" src="../../assets/img/u_subject.svg" alt="icon-side" srcset="">
      <div class="frame427318704">
        <img class="group1921" src="../../assets/img/u_moon.svg" alt="">
        <button  onclick="myFunction()" href="" class="frame6113">
          <img src="../../assets/img/Rectangle 747.png" alt="">
          <p>User.Inc</p>
          <img src="../../assets/img/u_angle-down.svg" alt="">
        </button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a>
        </div>
      </div>
    </div>

    <table>
      <tr>
        <th *ngFor="let col of columTable">
          {{ col }}
        </th>
      </tr>
      <tr *ngFor="let data of dashboardDetail.data">
        <td> {{ data.name }} </td>
        <td> {{ data.alamat }} </td>
        <td> {{ data.umur }} </td>
        <td> {{ data.hobby }} </td>
        <td> {{ data.jenis_kelamin }} </td>
        <td> {{ data.tinggi }} </td>
        <td> {{ data.berat }} </td>
        <td>{{ (data.tinggi - 100) - (data.tinggi-100) * (10/100) }} </td>
        <!-- <td><button type="button" class="btn btn-primary" (click)="toggleUpdate(data)" data-toggle="modal" data-target="#exampleModal"> Ubah </button></td> -->
        <td><button type="button" class="btn btn-primary" (click)="deleteData(data.id)"> Hapus </button></td>
      </tr>
    </table>
</div>


<script>
  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>
